html, body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100% !important;
    height: 100%;
}

p, h1, h2 {
    margin: 0;
}

header {
    height: 100%s;
}

.banner {
    background-position: center;
    background-size: cover;
    background-image: url("../images/banner.jpg");
    height: 100vh;
}

.welcome {
    box-sizing: border-box;
    padding: 40vh 50px 40vh 50px;
}

.welcome h1,
.welcome p {
    font-family: sans-serif;
    color: white;
}

.welcome h1 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 4.3rem;
    font-weight: 500;
}

.welcome p {
    margin: 0;
    line-height: 30px;
    font-size: 1.3rem;
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
    outline: 1px dotted ButtonText
}

.btn,
.button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.bar-block .dropdown-hover .button,
.bar-block .dropdown-click .button {
    width: 100%;
    text-align: left;
    padding: 8px 16px
}

.bar .button {
    white-space: normal
}


.btn,
.button {
    box-sizing: border-box;
    margin-top: 25px;
    border: 3px solid white;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: #000 !important;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

.button:hover {
    border: 3px solid black;
    background-color: blanchedalmond;
}

.about {
    padding: 30px 50px 30px 50px;
}


.about h2 {
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
}

.about h2 {
    font-size: 2.5rem;
}


.features {
    margin: 10px 0 10px 0;
    border-collapse: separate;
    display: flex;
}

.features .key-features {
    flex: 1;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px 20px 15px 20px;
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden;
}

.features .key-features p {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 10px;
}

.large {
    font-weight: bold;
    font-size: 1.7rem !important;
}

.features .key-features i {
    font-size: 1.5rem;
    display: block;
    text-align: center; 
}

.service {
    height: 80vh;
    background-position: center;
    background-size: cover;
    background-image: url("../images/services/clouds.jpg");
    padding: 60px 60px 60px 60px;
    color: #fff;

}

.service h2 {
    text-align: center;
    font-size: 4rem;
}

.service h2 strong {
    font-family: "Borel", cursive;
    font-weight: 400;
    font-style: normal;
}

.service-list {
    display: flex;
}

.service-list section {
    flex: 1;
    text-align: center;
}

.service-list i {
    font-size: 1.5rem;
    display: block;
    text-align: center; 
}
