@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&display=swap');
body {
    min-width: 700px;
    overflow: auto;
    margin: 0;
    padding: 0;
}

nav {
    display: block;
    box-sizing: border-box;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-left: 50px;
}

nav .logo {
    float: left;
    height: 60px;
}

nav ul {
    display: inline-block;
    list-style-type: none;
    margin: 25px 0 0 30px;
}

nav ul li {
    display: inline-block;
    box-sizing: border-box;
    margin-right: 50px;
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    color: black;
    line-height: 4px;
    transition: .3s opacity;
}

nav ul li a:hover {
    opacity: .6
}

.banner {
    box-sizing: border-box;
    height: 400px;
    background-image: url('../images/banner.jpg');
    background-size: cover;
    padding: 50px 0 0 50px;
    margin-bottom: 30px;
    overflow: auto;
}

.banner h1,
.banner p {
    font-family: 'Nunito', sans-serif;
    color: white;
}

.banner h1 {
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 500;
}

.banner p {
    line-height: 30px;
    font-size: 20px;
}

main article {
    width: 65%;
    margin: 0 20px 20px 20px;
    padding: 10px 10px 20px 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

.sidebar {
    width: 22%;
    float: right;
    margin: 0 20px 30px 30px;
    padding: 10px 10px 5px 13px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

main article,
.sidebar {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: .3s box-shadow;
}

main article:hover,
.sidebar:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

main article h2,
main article li,
main article p:not(.error),
main article figure figcaption,
tr>td,
.sidebar h2,
.sidebar p {
    font-family: 'Nunito', sans-serif;
}

main article h2,
legend {
    font-size: 35px;
}

.sidebar h2 {
    font-size: 25px;
}

.sidebar p {
    line-height: 30px;
}

.sidebar img {
    width: 100%;
}

main article p:not(.error),
main article li {
    line-height: 30px;
    font-size: 20px;
}

main article li {
    margin-bottom: 5px;
}

main article img {
    width: 70%;
}

main article a {
    color: black
}

main article figure img {
    width: 100%;
    margin-bottom: 10px;
}

main article figure figcaption {
    text-align: center;
}

fieldset {
    border: none;
    margin: inherit;
    padding: inherit;
}

footer {
    padding: 20px 0 40px 350px;
    box-sizing: border-box;
    background-color: #696969;
    overflow: auto;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer section {
    display: inline-block;
    margin-right: 200px;
}

footer section h2,
footer section li,
footer section li a {
    font-family: 'Nunito', sans-serif;
    color: white;
}

footer section h2 {
    font-weight: 500;
    font-size: 30px;
}

table {
    color: #06425C;
    border-spacing: 0;
    width: 100%;
}

tr>td {
    box-sizing: border-box;
    height: 70px;
    text-align: left;
    line-height: 40px;
    font-size: 20px;
}

td:first-child {
    min-width: 100px;
    width: 20%;
}


/* td:last-child+td {
    width: 70%;
} */

form td {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

select option,
select,
input {
    margin: 0;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

input[type=text] {
    width: 50%;
    height: 50%;
}

input[type=submit] {
    border: none;
    color: white;
    background-color: #43A047;
    width: 100px;
    height: 50%;
    border-radius: 20px;
}

input[type=submit]:hover {
    background-color: #2b662d;
}

select {
    width: 60%;
    height: 60%;
}

.error {
    margin: 0;
    line-height: 20px;
    height: 20px;
    font-size: 15px;
    padding-top: 3px;
    color: red;
    font-family: 'Roboto', sans-serif;
    display: none;
}

#info {
    font-weight: 600;
}